.root {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
  background: url('../../common/images/login-bg.png') no-repeat;
  background-size: cover;
}
