.root {
  position: absolute;
  right: 180px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 40px 0;
  box-sizing: border-box;
  // background: linear-gradient(180deg, rgba(22, 22, 22, 0.63) 0%, rgb(0 21 41) 100%);
  background: linear-gradient(102deg, rgb(2 41 84 / 80%) 0%, rgb(0, 21, 41) 100%);
  box-shadow: 0 2px 8px rgba(14, 21, 83, 0.05);
  backdrop-filter: blur(25px);
  border-radius: 8px;
  border: 1px solid $border_color;

  h1 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #fff;
  }

  :global {
    .login-form {
      width: 320px;

      .ant-input {
        &:hover {
          border-color: rgba(127, 127, 211, 0.6);
        }

        &:focus {
          border-color: rgba(127, 127, 211, 0.5);
          box-shadow: 0 0 0 2px rgba(38, 38, 109, 0.8);
        }
      }

      .ant-input-password {
        &:hover {
          border-color: rgba(127, 127, 211, 0.6);
        }

        &:focus-within {
          border-color: rgba(127, 127, 211, 0.5);
          box-shadow: 0 0 0 2px rgba(38, 38, 109, 0.8);
        }
      }

      >button {
        width: 100%;
        box-shadow: none;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);

        &:hover {
          background: rgba(15, 63, 108, 0.2) !important;
          border: 1px solid rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}