.root {
  width: 100%;
  height: calc(100vh - 122px);

  :global {
    .g6-component-toolbar {
      right: 0;
      left: auto;
      background: transparent;

      border: 1px solid rgba(143, 143, 143, 0.2);

      svg {
        fill: #5858db
      }
    }
  }
}