.root {
  height: 100%;
  width: 240px;
  padding: 16px;
  border-right: 1px solid $border_color;

  :global {
    .search-input {
      margin-bottom: 20px;
    }

    .tree-wrapper {
      flex: 1 1 auto;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: none;
      height: calc(100vh - 130px);

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.optionList {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

:global {
  .ant-popover .ant-popover-inner {
    padding: 4px !important;
  }
}

.treeNode {
  display: block;
}

.treeNode::after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}