.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
}

.operationWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.batchWrapper {
  margin-top: 10px;
}

.selectWrapper {
  max-width: 600px;
}

.mainTable {
  margin-top: 10px;
}

.primaryButton {
  box-shadow: none;
}

.selectOptions {
  background-color: #001529;
}

.rangePicker {
  background-color: #001529;
}

.toolbarWrapper {
  display: flex;
  justify-content: flex-start;
  column-gap: 24px;
  padding-bottom: 16px;
  align-items: center;
}

.buttonWrapper {
  position: absolute;
  right: 24px;
  display: flex;
  column-gap: 24px;
  justify-content: flex-start;
  align-items: center;
}

.tableWrapper {
  max-height: 700px;
  overflow-y: auto;
}

.secondToolBarWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
}
