.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
}

.toolbarWrapper {
  display: flex;
  justify-content: flex-start;
  column-gap: 24px;
  padding-bottom: 16px;
}

.operationWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.batchWrapper {
  margin-top: 10px;
}

.batchHolder {
  height: 48px;
}

.selectWrapper {
  max-width: 600px;
}

.primaryButton {
  box-shadow: none;
}

.tableWrapper {
  max-height: 700px; // TODO
  overflow-y: auto;
}
