.root {
  border-right: 1px solid $border_color;

  :global {
    .nav-logo {
      cursor: pointer;
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 0;

      svg {
        height: 24px;
        width: 24px;
      }

      span {
        margin-left: 8px;
        font-size: medium;
      }
    }

    .menu-wrapper {
      flex: 1 1 auto;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: none;
      height: calc(100vh - 62px);

      &::-webkit-scrollbar {
        display: none;
      }

      .ant-menu {
        height: 100%;
        border: none !important;
        padding: 0 8px;

        .ant-menu-inline {
          background: transparent !important;
        }
      }
    }


  }
}