.root {
  display: flex;
  column-gap: 24px;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 16px;

  :global {
    .ant-select {
      width: 180px;
    }

    .ant-picker {
      width: 240px;
    }

    .radio-group {
      position: absolute;
      right: 16px;
    }
  }
}