.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;

  :global {

    .filters {
      display: flex;
      column-gap: 24px;
      align-items: center;
      justify-content: flex-start;

      .ant-select {
        width: 180px;
      }

      .ant-picker {
        width: 240px;
      }

      .ant-input-search {
        width: 180px;
      }

      .radio-group {
        position: absolute;
        right: 16px;
      }
    }

  }
}