.root {
  height: 100%;

  :global {
    .layout_content {
      background: linear-gradient(#0a0a24, #121821, #0a0a24);
      height: 100vh;
      display: flex;

      .main_content {
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
      }
    }
  }
}