.root {
  height: 100%;

  :global {
    .layout_content {
      background-color: #001529;
      height: 100vh;
      display: flex;

      .main_content {
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
      }
    }
  }
}