.root {
  padding: 16px;

  :global {
    .toolbar {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 8px;
    }

    .charts {
      height: 300px;
      display: flex;
      column-gap: 16px;

      >div {
        flex: 1;
      }
    }
  }
}