.root {
  display: flex;
  column-gap: 24px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;

  :global {
    .filters {
      display: flex;
      column-gap: 24px;
      align-items: center;

      .ant-select {
        width: 80px;
      }

      .ant-picker {
        width: 180px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      column-gap: 24px;

      button {
        height: 28px;
      }
    }
  }
}