.treeWrapper {
  height: calc(100vh - 122px);
  width: 100%;

  :global {
    .g6-component-toolbar {
      right: 16px;
      top: 16px;
      left: auto;
      background: transparent;
      border: 1px solid rgba(143, 143, 143, 0.2);

      >li:nth-child(1),
      >li:nth-child(2) {
        display: none;
      }

      svg {
        fill: #5858db
      }
    }
  }
}