// 全局样式
html,
body {
  box-sizing: border-box;
  color: $font_color_base;
  font-size: $font_size_base;
  font-family: 'PingFang SC';
  overflow-y: hidden;
  min-width: 1280px;
  min-height: 768px;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  background-color: #0a0a24; // 滑轨背景颜色
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.126);
  border-radius: 200px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}