// 样式变量
$font_color_base: rgb(232 232 232);
$font_color_inactive: rgb(143 143 143 / 50%);
$font_color_active: rgb(201, 201, 201);
$color_active: #353272;
$background_color: #001529;
$border_color: rgb(143 143 143 / 50%);
$font_size_base: 14px;
