// 样式变量
$font_color_base: #e8e8e8;
$font_color_inactive: rgb(143 143 143 / 50%);
$font_color_active: #c9c9c9;
$color_active: #353272;
$background_color: #001529;
$border_color: rgba(143, 143, 143, 0.2);
$font_size_base: 14px;
