.ant-menu-dark {
  .ant-menu-item {
    border-radius: 0;
  }

  .ant-menu-item-selected {
    background-color: #353272;
  }

  .ant-menu-inline {
    background: transparent !important;
  }
}
