.root {
  height: 100%;

  :global {
    .ant-tree-switcher {
      padding: 4px 0;
    }

    .ant-tree-node-content-wrapper {
      padding: 4px 16px;
      border-radius: 4px;
    }
  }
}